oct_levitation:
  control_freq: 1000 # ALWAYS MATCH VICON's RATE
  publish_computation_time: true
  soft_start: true # Required because gravity compensation will request very high currents immediately.
  pose_tracking: true # will require reference pose to be published. Check node for more details.

  cpp_impl:
    omega_pd: 0.5