experiment_analysis:
  n_coils: 6 # Number of coils in the experiment. This is used to determine the number of plots to be generated.
  n_drivers: 9 # Number of coils supported by the system at the moment
  active_coils: [0, 1, 2, 3, 4, 5, 6, 7]
  active_drivers: [0, 1, 2, 3, 4, 5, 7, 8]
  base_folder: "" # Let it be empty string to use the default folder.
  inkscape_path: /usr/bin/inkscape # Path to inkscape executable, for saving plots to emf which is best for vector graphics in powerpoint.
  octomag_calibration_file: "mc3ao8s_md200_handp.yaml"
  plot_time_sync_topic: "/tnb_mns_driver/des_currents_reg" # For all time synced plots, this topic is used for time interpolation of other topics for proper comparison.
  plot_raw_ecb_data: true # If true then no interpolation is done and the raw ECB data is used for plotting. This is useful for catching immediate overvoltage errors on controller start which may get lost in interpolation.
  enable_topic_extraction: true # If true, then bagpyext will be used to extract CSV data from topics if no CSV files are found in the experiment folder.
  show_after_each_plot: false # Show the plot after each plot is generated.
  display_plots_at_end: true # Show all plots at the end of the analysis instead of one by one. If true, show_after_each_plot is ignored. If both false, no plots are shown in interactive pane.
  save_plots: true # Saves as svg
  save_plots_as_emf: true # Needs save_plots to be true, and requires an inkscape installation.
  time_varying_reference: false
  observations_editor: "xterm -e nano" # Should be a shell command callable from terminal. This will be used to open up the editor for noting down observations.

  ft_plot_params:
    use_local_frame_for_torques: true
    dataset_torques_in_local_frame: true
    plot_overall_magnet_torque_component: true
    plot_torque_components_separately: false
    remove_gravity_component: false # If true, then the gravity compensation component is removed from world frame force. Which should usually be Fz.
    plot_mean_values: true # If true, then the mean values of the force and torque components are plotted. This is useful for checking if the mean force or torque are zero when requested to be zero. 

  ## Plot enable flags, ECB specific are always enabled
  # mandatory flags, always required
  enable_pose_plots: true
  enable_force_torque_plots: true

  # optional flags, default to false
  enable_field_gradient_plots: true
  enable_z_specific_plots: false
  enable_alpha_beta_plots: false
  enable_condition_number_plots: true
  enable_utility_plots: true

  const_pose_reference_mm_deg:
    x: 5.0 # mm
    y: 5.0 # mm
    z: 10.0 # mm
    roll: 0.0 # deg
    pitch: 0.0 # deg
    yaw: 0.0 # deg
  
  velocity_plot_options:
    also_plot_pynumdiff: false # If true, then velocity is also estimated using pynumdiff and denoised through a LPF.
    local_frame_for_angular_velocity: true # If true then angular velocity is estimated in the inertial frame.
    cutoff_frequency: 50.0 # Hz, cutoff frequency for pynumdiff LPF

  condition_number_plot_options:
    experiment_type_topic_map: # Different experiments used a different name for this topic. So I just used this map. In the future just use the same name plox.
      reduced_attitude_control: 
        - "/com_single_dipole_normal_orientation_control/jma_condition"
        - "/control_session/jma_condition"
      xyz_reduced_attitude_single_dipole:
        - "/xyz_rp_control_single_dipole/jma_condition"
        - "/control_session/jma_condition"
      linear_y_control:
        - "/linear_z_control/jma_condition"
        - "/control_session/jma_condition"

  filter_time_range:
    enable: false # If true then specify the start and end times properly.
    start: 10.0 # s, set to null for -inf
    end: 23.0 # s, set to null for +inf

  exclude_known_latched_topics: true # If true, then known latched topics are excluded from the analysis. This is useful for topics that are not needed for the analysis and may lead to errors in the reader if they are not excluded.
  # In case your own topic collides with the latched topic names (suffix matched) then set this to false and add erroring topics
  # explicitly to the topics_exclusion_list.
  
  topics_exclusion_list: # These topics are not needed and may lead to errors in the reader if they are not excluded. Some known latched topics are automatically excluded.
    - "/clock"
    - "/rosout"
    - "/rosout_agg"
    - "/tf"
    - "/tf_static"

  summarizer:
    sort_by: "folder_name" # Options: "folder_name", "last_modified" [due to timestamp naming, folder_name will sort chronologically]
    include_description: true # If true, then the description of the experiment is included in the summary.
    notes_folder: "notes"