<launch>
    <!-- Packages for sending the currents -->
    <node pkg="tnb_mns_driver" name="tnb_mns_driver_node" type="tnb_mns_driver_node" output="screen" launch-prefix="xterm -e" />
    <node pkg="oct_ctrl" name="safety_filter" type="safety_filter.py" output="screen"/>
    <node pkg="oct_levitation" name="linear_z_controller" type="linear_1d_controller.py" output="screen"/>
</launch>