<launch>
    <arg name="sim"/>
    <arg name="record_data" default="true"/>
    <arg name="hardware_connected" default="false"/>
    <arg name="enable_reference_pose" default="false"/>
    <arg name="run_rviz" default="false"/>
    <arg name="run_rqt_multiplot" default="false"/>
    <arg name="body_fixed"/>

    <group unless="$(arg body_fixed)">
        <node pkg="oct_levitation" name="single_dipole_reduced_attitude_control" type="single_dipole_reduced_attitude_control.py" output="screen">
            <param name="sim_mode" value="$(arg sim)"/>
        </node>
    </group>

    <group if="$(arg body_fixed)">
        <node pkg="oct_levitation" name="single_dipole_body_fixed_reduced_attitude_control" type="single_dipole_body_fixed_reduced_attitude_control.py" output="screen">
            <param name="sim_mode" value="$(arg sim)"/>
        </node>
    </group>

    <!-- I did not use pass_all_args because it can easily lead to runtime bugs which are hard to diagnose. -->
    <include file="$(find oct_levitation)/launch/control_pipeline_base.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="record_data" value="$(arg record_data)"/>
        <arg name="hardware_connected" value="$(arg hardware_connected)"/>
        <arg name="enable_reference_pose" value="$(arg enable_reference_pose)"/>
        <arg name="run_rviz" value="$(arg run_rviz)"/>
        <arg name="run_rqt_multiplot" value="$(arg run_rqt_multiplot)"/>
    </include>

</launch>